.cartList {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto);
  align-items: center;
  color: white;
  font-size: 0.875rem;
  gap: 1rem;
}

.cartList + div {
  margin-top: 1rem;
}

.cartList img {
  width: 5.25rem;
  height: 8rem;
  grid-row: 1 / -1;
}

.cartList .title {
  grid-column: 2 / 4;
}

.cartList .stock {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.cartList .price {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.cartList .quantity {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  display: flex;
}

.cartList input {
  text-align: center;
  width: 100px;
}

.quantity .buttonEnabled:hover {
  border-color: white;
}

.quantity .buttonDisabled {
  color: gray;
}

.quantity .buttonDisabled:hover {
  border-color: none;
}

.cartList input {
  width: 1.5rem;
  height: 1.5rem;
  background: none;
  border: 1px solid gray;
  border-left: none;
  border-right: none;
  color: white;
}

.cartList input:focus {
  outline: none;
}

.cartList button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  background: none;
  border: none;
  color: white;
  border: 1px solid gray;
  cursor: pointer;
}

.cartList .trash {
  grid-column: 3 / -1;
  grid-row: 3 / 4;
  justify-self: end;
  border: none;
}

.trash:hover svg {
  color: gray;
}

.cartList .total {
  grid-column: 3 / -1;
  grid-row: 4 / -1;
  justify-self: end;
  align-self: center;
  width: 6rem;
}
