.home {
  position: absolute;
  top: 35%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.home button {
  background: none;
  border: 1px solid gray;
  color: white;
  cursor: pointer;
  padding: 1rem;
}

.home button:hover {
  background: gray;
}
