.home {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home .link {
  align-self: center;
}

.home button {
  background: none;
  border: 1px solid gray;
  color: white;
  cursor: pointer;
  padding: 1rem;
}

.home button:hover {
  background: gray;
}
