.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  background: rgba(14, 14, 14);
}

.navigation h1 {
  color: rgb(245, 245, 245);
}

.navigation ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 1rem;
  margin-left: auto;
  position: absolute;
  right: 1rem;
}

.navigation a {
  color: rgb(153, 153, 153);
  text-decoration: none;
  cursor: pointer;
}

.navigation li a.active {
  color: rgb(255, 255, 255);
}

.navigation a:hover {
  color: rgb(255, 255, 255);
}

.navigation button {
  color: rgb(245, 245, 245);
  background: none;
  border: none;
  cursor: pointer;
}

.navigation .icon {
  font-size: 1rem;
}

.navigation button span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 10px;
  background: white;
  color: black;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 4px;
  position: absolute;
  right: 14px;
  top: 12px;
}
