.header {
  position: sticky;
  top: 0;
  display: flex;
  background: black;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
}


.header .logo {
  color: white;
  cursor: pointer;
  text-decoration: none;
  padding-left: 1rem;
}

.nav {
  display: flex;
}

.nav a {
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.nav a:first-child {
  margin-right: 1rem;
}

.nav a:nth-child(2) {
  margin-right: 0.5rem;
}



