.item {
  display: grid;
  grid-template-columns: auto 7rem auto;
  grid-template-rows: repeat(4, auto);
  align-items: center;
  column-gap: 1rem;
  row-gap: 0.5rem;
}

.item + .item {
  margin-top: 1rem;
}

.item img {
  height: 6rem;
  width: 4rem;
  grid-column: 1 / 2;
  grid-row: 1 / 5;
}

.item h5,
.item p {
  margin: 0;
}

.item p {
  font-size: 0.875rem;
  white-space: nowrap;
}

.item .title {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.item .stock {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.item .itemPrice {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.item .quantity {
  display: flex;
  align-items: center;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.item input {
  background: none;
  border: 1px solid gray;
  border-left: none;
  border-right: none;
  color: white;
  outline: none;
}

.item .decrement,
.item .increment {
  background: none;
  border: 1px solid gray;
  color: white;
}

.item button:disabled {
  color: gray;
}

.tiem button:disabled:hover {
  border-color: none;
}

.item button:enabled:hover {
  border-color: white;
}

.item input {
  width: 1rem;
  text-align: center;
}

.trash {
  justify-self: end;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0;
  width: fit-content;
}

.trash svg:hover {
  color: gray;
}

.totalItemPrice {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  width: 5.75rem;
}
