.products {
  color: white;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.products button {
  background: transparent;
  border: 1px solid gray;
  color: white;
  padding: 0.5rem 1rem;
  width: 100%;
}